.example-spacer {
    flex: 1 1 auto;
  }
#menu {
  position: absolute;
  left: 10px;
  top: 10px;
}
#cart {
  position: absolute;
  right: 10px;
  top: 10px;
}
#title {
  font-size: large;
  line-height: 60px;
}
#nav-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
}